<form class="sort-form rounded-md border-2 border-slate-400 px-4 py-2">
  <label for="{{ label }}-select">Choose {{ label }} option:</label>
  <!-- prettier-ignore -->
  <select id="{{ label }}-select" name="{{ name }}">
  <option disabled  value='{{ name }}'>{{ name|capfirst }}</option>
    {% for data_name, data_slug in data_choices.items %}
      <option value="{{ data_slug }}" {% if current_choice == data_slug %}selected{% endif %}>
        {{ data_name }}
      </option>
    {% endfor %}
  </select>
</form>
