{% load static %}
<footer class="mt-12 bg-black text-white">
  <section
    class="space-y-8 px-8 pb-8 md:px-0 pt-12 md:container md:mx-auto md:grid md:grid-col md:justify-around md:space-y-0 md:grid-flow-col [&_h2]:text-lg [&_li]:text-sm"
  >
    <div class="lg:hidden">
      {% include 'partials/social_media_block.html' %}
    </div>
    {# useful links #}
    <div class="space-y-2">
      <h2>About us</h2>
      <ul
        class="space-y-2 [&_li:hover]:border-white [&_li]:w-max [&_li]:border-b [&_li]:border-transparent [&_li]:transition-colors"
      >
        <li><a href="{% url 'customer_support:about' %}">Who we are</a></li>
        <li><a href="{% url 'customer_support:terms-and-conditions' %}">Terms & Conditions</a></li>
        <li><a href="{% url 'customer_support:privacy-policy' %}">Privacy Policy</a></li>
      </ul>
    </div>
    <div class="space-y-2">
      <h2>Help & Information</h2>
      <ul
        class="space-y-2 [&_li:hover]:border-white [&_li]:w-max [&_li]:border-b [&_li]:border-transparent [&_li]:transition-colors"
      >
        <li><a href='{% url 'customer_support:contact' %}'>Contact</a></li>
        <li><a href="{% url 'customer_support:shipping-and-information' %}">Shipping & Information</a></li>
        <li><a href="{% url 'customer_support:faqs' %}">FAQs</a></li>
      </ul>
    </div>
    <div class="space-y-2">
      <h2>Brands</h2>
      <ul
        class="space-y-2 [&_li:hover]:border-white [&_li]:w-max [&_li]:border-b [&_li]:border-transparent [&_li]:transition-colors"
      >
        <li><a href="/products/?brand=wild-nutrition">Wild Nutrition</a></li>
        <li><a href="/products/?brand=peloton">Pelaton</a></li>
        <li><a href="/products/?brand=hurom">Hurom</a></li>
        <li><a href="/products/?brand=vitamix">Vitamix</a></li>
        <li><a href="/products/?brand=kuvings">Kuvings</a></li>
      </ul>
    </div>
    {# Social media links on desktop #}
    <div class="hidden lg:block lg:space-y-2">
      <h2>Let's connect</h2>
      <ul
        class="space-y-2 [&_li:hover]:border-white [&_li]:w-max [&_li]:border-b [&_li]:border-transparent [&_li]:transition-colors"
      >
        <li>
          <a
            href="https://facebook.com"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Visit us on Facebook"
          >
            Visit us on Facebook
          </a>
        </li>
        <li>
          <a
            href="https://instagram.com"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Visit us on Instagram"
          >
            Visit us on Instagram
          </a>
        </li>
        <li>
          <a
            href="https://twitter.com"
            target="_blank"
            rel="noopener noreferrer"
            aria-label="Visit us on Twitter"
          >
            Visit us on Twitter
          </a>
        </li>
      </ul>
    </div>
  </section>
  <hr />
  {# copyright & payment icons #}
  <div class="flex flex-wrap justify-between p-2 lg:container lg:mx-auto">
    <p class="p-2 text-sm">
      <span id="copyright-year">&copy; </span> Elite Fitness | All rights reserved
    </p>
    <div class="flex gap-x-2">
      <img
        src="{% static 'icons/visa.svg' %}"
        alt="Visa logo"
        width="32"
        height="32"
        loading="lazy"
      />
      <img
        src="{% static 'icons/mastercard.svg' %}"
        alt="Mastercard logo"
        width="32"
        height="32"
        loading="lazy"
      />
    </div>
  </div>
</footer>
