{% extends 'base.html' %} {% load static %}
{% block extra_tite %}Password reset sent{%endblock %}

{% block content %}
  <main class="container mx-auto mt-16 max-w-2xl space-y-12 px-4">
    <div>
      <a
        class="flex gap-x-2 text-sm underline underline-offset-2"
        href=" {% url 'login' %}"
      >
        <img
          aria-hidden="true"
          src="{% static 'icons/arrow-back.svg' %}"
          alt="home icon"
          width="12"
          height="12"
        />
        Login</a
      >
    </div>

    <div class="h-64 space-y-8 rounded p-6 shadow">
      <h2 class="text-center text-2xl">Reset Password Sent</h2>
      <p>An email has been dispatched to your designated address. Kindly inspect your spam folder in case it has inadvertently been redirected there. Should the email fail to arrive within a brief span of time, we kindly request that you reach out to us for further assistance.</p>
    </div>
  </main>
{% endblock %}
