{% extends 'base.html' %} {% load static %}
{% block extra_tite %}Password changed{%endblock %}

{% block content %}
  <main class="container mx-auto mt-16 max-w-2xl space-y-12 px-4">
    <div>
      <a
        class="flex gap-x-2 text-sm underline underline-offset-2"
        href=" {% url 'login' %}"
      >
        <img
          aria-hidden="true"
          src="{% static 'icons/arrow-back.svg' %}"
          alt="home icon"
          width="12"
          height="12"
        />
        Login</a
      >
    </div>

    <div class="h-64 space-y-8 rounded p-6 shadow text-center">
      <h2 class="text-2xl">Password Changed</h2>
      <p>The password has been successfully updated.</p>
    </div>
  </main>
{% endblock %}
