{% extends 'base.html' %} {% block extra_tite %}Profile Account
information{%endblock %} {% load static %} {% block content %}

<div class="container mx-auto mt-12 space-y-12 px-4">
  <h1 class="text-center text-2xl">Profile</h1>
  <div class="flex justify-between">
    <a
      class="flex items-center gap-x-1 text-sm underline underline-offset-2"
      href=" {% url 'home' %}"
    >
      <img
        aria-hidden="true"
        src="{% static 'icons/arrow-back.svg' %}"
        alt="home icon"
        width="12"
        height="12"
      />
      Home</a
    >
    <a
      class="flex items-center gap-x-1 text-sm underline underline-offset-2"
      href="{% url 'order_information' %}"
    >
      Order Details
      <img
        aria-hidden="true"
        src="{% static 'icons/arrow-back.svg' %}"
        alt="home icon"
        width="12"
        height="12"
        class="rotate-180"
      />
    </a>
  </div>
  <hr>

  <main class="container mx-auto mt-16 px-4">
    <section class="mt-12 space-y-12">
      <div class="mx-auto max-w-2xl space-y-3">
        <h2 class="text-lg">Account Information</h2>
        <div class="p-4 shadow">
          {% include 'partials/forms/profile_form.html' %}
        </div>
      </div>
      <a
        class="block rounded bg-slate-700 px-4 py-2 text-center text-sm text-white lg:hidden"
        href="{% url 'logout' %}"
        >Sign out</a
      >
    </section>
  </main>
</div>

{% endblock content %}
