@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/static/fonts/OpenSans-Light.woff2') format('woff2');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/static/fonts/OpenSans-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('/static/fonts/OpenSans-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('/static/fonts/OpenSans-SemiBold.woff2') format('woff2');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/static/fonts/OpenSans-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url('/static/fonts/OpenSans-ExtraBold.woff2') format('woff2');
}

@layer base {
  :root {
    --alert-success: hsl(143, 45%, 24%);
    --alert-error: hsl(5, 50%, 36%);
    --alert-warning: hsl(49, 60%, 44%);
    --alert-info: hsl(204, 58%, 32%);
  }

  body {
    font-family: 'Open Sans', Arial sans-serif;
  }
}

/* Mobile/ Desktop menu animations*/
/* used to set opacity on hidden elements (mobile / desktop menu)*/
#menu-content,
.desktop-nav-menu + div {
  opacity: 0;
  visibility: hidden;
}

#menu-content.open,
.desktop-nav-menu + div.open,
#search-container.open {
  opacity: 1;
  visibility: visible;
}

@screen lg {
  #search-container {
    opacity: 0;
    visibility: hidden;
  }

  #search-container.open {
    opacity: 1;
    visibility: visible;
  }
}

.desktop-nav-menu {
  @apply pb-4;
}

.desktop-nav-menu,
.desktop-nav-menu__active li {
  @apply relative
    w-max
    cursor-pointer;
}
/* hover border animation for desktop menu items*/
.desktop-nav-menu::before,
.desktop-nav-menu__active li::before {
  @apply invisible
    absolute
    left-0
    block
    h-0.5
    w-full
    bg-gray-700
    content-[''];
  transform: scaleX(0);
  transition:
    visibility 0.1s ease-in-out 0s,
    transform 0.1s ease-in-out 0s;
}

.desktop-nav-menu:hover::before,
.desktop-nav-menu__active li:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.desktop-nav-menu::before {
  @apply bottom-4;
}

.desktop-nav-menu__active li::before {
  @apply -bottom-1;
}

/* forms */

form {
  & label:not([for='id\_remember']) {
    @apply sr-only;
  }

  & div:has(> label[for='id\_remember']) {
    @apply flex justify-between;

    & > label {
      @apply flex-shrink-0
      text-gray-700;
    }

    & > input {
      @apply !w-max;
    }
  }

  &#subscribe-form {
    @apply flex flex-wrap gap-4;

    /*not input submit*/

    & input:not([type='submit']) {
      @apply border
      border-gray-300
      focus:border-indigo-500
      focus:outline-none
      focus:ring-indigo-500;
    }

    & input[type='submit'] {
      @apply w-max
      bg-black
      text-white;
    }

    & input {
      @apply block
      w-full
      rounded-md
      px-4
      py-2
      shadow-sm
      sm:text-sm;
    }
  }

  /*  forms with specifies id */
  &#login-form,
  &#password-reset,
  &#register-form,
  &#profile-form,
  &#contact-form,
  &[data-wishlist-form] {
    @apply flex flex-col gap-4;

    & input,
    & select,
    & textarea {
      @apply block
      w-full
      rounded-md
      px-4
      py-2
      shadow-sm
      sm:text-sm;
    }

    & input[type='submit'] {
      @apply w-max
      bg-black
      text-white;
    }

    & input:not([type='submit']),
    & textarea {
      @apply border
      border-gray-300
      focus:border-indigo-500
      focus:outline-none
      focus:ring-indigo-500;
    }
  }
}
/* forms general */
form {
  .field-wrapper {
    @apply relative;
  }

  /* Django built-in form error class*/
  .errorlist {
    @apply text-sm
      text-red-500;
  }
}

/* Strip */
/*stripe form elements*/

.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 0px;
  background-color: white;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus,
.stripe-style-input:focus,
.stripe-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
  color: #aab7c4;
}

.fieldset-label {
  position: relative;
  right: 0.45rem;
}

#payment-form .form-control,
#card-element {
  color: #000;
  border: 1px solid #000;
}

/* privacy policy */
details {
  @apply rounded-lg
  p-2
  text-sm
  open:my-4
  open:bg-white
  open:p-8
  open:shadow-lg
  open:ring-1
  open:ring-black/5;

  & summary {
    @apply font-semibold
    leading-6
    text-slate-900;
  }

  & ul {
    @apply list-inside
    list-disc
    space-y-2.5
    py-4;
  }

  & p {
    @apply leading-6
    text-slate-600;
  }
  & p:first-of-type {
    @apply mt-3;
  }
}

/* dialog */
/* add animation to svg when dialog is open */
dialog#process-order[open] svg {
  @apply animate-spin;
}

/* select elements*/
select {
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxZW0iIGhlaWdodD0iMWVtIiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxwYXRoIGZpbGw9IiMxMjI0MmIiIGQ9Ik0xMiAxNC45NzVxLS4yIDAtLjM3NS0uMDYyVDExLjMgMTQuN2wtNC42LTQuNnEtLjI3NS0uMjc1LS4yNzUtLjd0LjI3NS0uN3EuMjc1LS4yNzUuNy0uMjc1dC43LjI3NWwzLjkgMy45bDMuOS0zLjlxLjI3NS0uMjc1LjctLjI3NXQuNy4yNzVxLjI3NS4yNzUuMjc1Ljd0LS4yNzUuN2wtNC42IDQuNnEtLjE1LjE1LS4zMjUuMjEzdC0uMzc1LjA2MloiLz48L3N2Zz4=);
  @apply appearance-none
  bg-[length:25px_25px]
  bg-right
  bg-no-repeat
  pr-10
  focus:outline-none
  sm:text-sm;
}