{% extends 'base.html' %} {% load static %} {% block extra_tite %}Health,
Fitness & Nutritional Supplements{% endblock %} {% block extra_meta %}
<!-- Meta keywords -->
<meta
  name="keywords"
  content="elite fitness, juicers, vitamin supplements, health supplements, fitness equipment,
  fitness, health, wellness, wild nutrition, peloton, hurom juicer"
/>
<!-- Meta description -->
<meta
  name="description"
  content="Elite Fitness offers a wide range of juicers, fitness equipment, and health supplements.
  Shop our selection for high-quality products to support your fitness and wellness goals."
/>

  <!-- Open Graph meta tags -->
  <meta
    property="og:title"
    content="Elite Fitness - Juicers, Fitness Equipment, Health Supplements"
  />
  <meta
    property="og:description"
    content="Elite Fitness offers a wide range of juicers, fitness equipment, and health supplements. Shop our selection
    for high-quality products to support your fitness and wellness goals."
  />
  <meta
    property="og:type"
    content="website"
  />
  <meta
    property="og:url"
    content="{{ request.build_absolute_uri }}"
  />
  <meta
    property="og:image"
    content="{% static 'images/logo-og.png' %}"
  />
  <meta
    property="og:image:alt"
    content="Elite Fitness Logo"
  />
  <meta
    property="og:image:width"
    content="1200"
  />
  <meta
    property="og:image:height"
    content="630"
  />

  <!-- Twitter meta tags -->
  <meta
    name="twitter:card"
    content="summary_large_image"
  />
  <meta
    name="twitter:site"
    content="@elitefitness"
  />
  <meta
    name="twitter:creator"
    content="@elitefitness"
  />
  <meta
    name="twitter:title"
    content="Elite Fitness - Juicers, Fitness Equipment, Health Supplements"
  />
  <meta
    name="twitter:description"
    content="Elite Fitness offers a wide range of juicers, fitness equipment, and health supplements. Shop our selection for high-quality products to support your fitness and wellness goals."
  />
  <meta
    name="twitter:image"
    content="{% static 'images/logo-og.png' %}"
  />
  <meta
    name="twitter:image:alt"
    content="Elite Fitness Logo"
  />

{% endblock %} {% block content %}
<div class="mx-auto mt-12 px-2 lg:container md:px-0">
  <div class="px-2 lg:grid">
    <img
      class="rounded lg:[grid-area:1_/_1]"
      src="{% static 'images/hero-banner-wn.jpg' %}"
      width="2880"
      height="800"
      loading="eager"
      alt="model holding a bottle of wild nutrition supplements in a meadow"
    />
    <div class="relative z-20 space-y-4 pl-10 pt-8 lg:[grid-area:1_/_1]">
      <h1 class="text-2xl lg:text-4xl">
        Boost Your Fitness Journey with<br />
        Premium Health Supplements!
      </h1>
      <a
        class="block w-max justify-end rounded-md bg-slate-500 px-4 py-1 text-white"
        href="{% url 'products' %}"
        >Shop now</a
      >
    </div>
  </div>

  <main class="mt-64 px-2">
    {# Featured products #}
    <section class="mx-auto lg:container">
      <h2 class="mb-8 text-center text-3xl">Featured products</h2>
      <div class="grid grid-cols-1 gap-12 md:grid-cols-2 lg:grid-cols-3">
        {% for product in products %}
        <div class="flex flex-col gap-y-4 rounded-lg bg-white pb-4 shadow-lg">
          <img
            class="rounded-t-lg"
            src="{{ product.image.image.url }}"
            alt="{{ product.name }}"
            loading="eager"
          />

          <div class="flex h-full flex-col gap-y-4 px-2">
            <div class="flex flex-wrap items-baseline gap-x-2">
              <h3 class="text-lg">{{ product.name }}</h3>
              <span class="font-bold text-gray-700">€{{ product.price }}</span>
            </div>
            <div class="mt-auto flex items-center gap-x-1">
              <a
                class="block w-max grow justify-end rounded-full border border-slate-500 px-2 py-1 text-center text-lg font-light text-slate-500 transition-colors ease-in-out hover:bg-slate-700 hover:text-white"
                href="{% url 'product_detail' product.slug %}"
                >View Product</a
              >
              {% include 'partials/forms/cart_add_form.html' %}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </section>

    <section class="mt-64">
      <hr />
      <h2 class="pt-12 text-3xl">The Wild Nutrition Difference</h2>
      <div class="mt-8 grid md:grid-cols-2 md:gap-x-24">
        <img
          src="{% static 'images/wild-nutrition-supplement-bundle.webp' %}"
          alt="wild nutrition supplement bundle on counter-top"
          class="rounded"
          width="1500"
          height="1100"
          loading="lazy"
        />
        <div class="grid">
          <div class="space-y-4 place-self-center">
            <h3 class="text-lg">
              Wild Nutrition is a UK brand that provides premium supplements.
            </h3>
            <p>
              All of their products are made from whole food ingredients, which
              means they are highly bio-available & easily absorbed by the body.
            </p>
          </div>
        </div>
      </div>
      <div class="mt-16 grid pb-12 md:grid-cols-2 md:gap-x-24">
        <img
          src="{% static 'images/ashwagandha-plant.webp' %}"
          alt="fresh ashwagandha plant"
          class="rounded lg:order-2"
          width="1500"
          height="1100"
          loading="lazy"
        />
        <div class="grid">
          <div class="space-y-4 place-self-center">
            <h3 class="text-xl">
              Widely studied ingredients to support your health goals.
            </h3>
            <p>
              Wild Nutrition products are formulated by a team of nutritional
              experts, so you can be sure you're getting the best quality.
            </p>
          </div>
        </div>
      </div>
      <hr />
    </section>

    {# newsletter signup #}
    <section
      class="mt-64 space-y-12 rounded-lg bg-[hsl(49deg,_20%,_84%)] p-8 shadow lg:mx-auto lg:max-w-4xl"
    >
      <div class="space-y-4">
        <h4 class="font-semibold">
          Join Elite Fitness for Exclusive Offers and Community Connection!
        </h4>
        <p class="font-light">
          Sign up now for exclusive offers and become part of the Elite Fitness
          community! Join us to discover exciting benefits and connect with
          like-minded individuals dedicated to fitness and wellness. Don't wait,
          be part of the Elite Fitness experience today!
        </p>
      </div>
      <div>{% include 'partials/subscription_form.html' %}</div>
    </section>
  </main>
</div>

{% endblock %}
