<form
  action="{% url 'adjust_cart' item.product.id %}"
  method="POST"
>
  {% csrf_token %}
  <div class="flex flex-wrap items-center gap-2">
    <label
      for="quantity-product-{{ forloop.counter }}"
      class="text-sm"
      >Qty:</label
    >
    <input
      id="quantity-product-{{ forloop.counter }}"
      name="quantity"
      type="number"
      min="1"
      max="{{ item.product.stock }}"
      value="{{ item.quantity }}"
      size="10"
      class="grow rounded border border-gray-300 px-2 py-1 text-sm"
    />
    <button
      type="submit"
      class="grow rounded bg-blue-600 px-2 py-1 text-sm text-white"
    >
      Update
    </button>
    <input
      type="hidden"
      name="redirect_url"
      value="{{ request.path }}"
    />
  </div>
</form>
