<form
  action="{% url 'add_to_cart' product.id %}"
  method="POST"
>
  {% csrf_token %}
  <div class="flex items-center gap-x-4">
    <label
      for="quantity"
      class="text-sm"
      >Qty:</label
    >
    <input
      id="quantity"
      name="quantity"
      type="number"
      min="1"
      max="{{ product.stock }}"
      value="1"
      class="h-full rounded border border-gray-300 px-4 py-2 text-sm"
    />
    <button
      type="submit"
      class="w-full rounded bg-slate-700 px-2 py-3 text-sm text-white"
    >
      Add to Cart
    </button>
    <input
      type="hidden"
      name="redirect_url"
      value="{{ request.path }}"
    />
  </div>
</form>
