{% load django_vite %} {% load static %}
<!DOCTYPE html>
<html
  class="h-full"
  lang="en"
>
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0"
    />
    <meta
      http-equiv="X-UA-Compatible"
      content="ie=edge"
    />
    <meta charset="UTF-8" />
    <!-- For classic favicon -->
    <link rel="icon" type="image/x-icon" href="{% static 'public/icons/favicon.ico' %}">

    <!-- For modern browsers -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'public/icons/favicon-16x16.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'public/icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/svg+xml" href="{% static 'public/icons/favicon.svg' %}">
    <!-- For apple devices -->
    <link rel="apple-touch-icon"
          sizes="180x180"
          href="{% static 'public/icons/apple-touch-icon.png' %}">

    <title>{{ title }}</title>
    {% vite_hmr_client %} {% vite_asset 'js/css-import.js' %}
    <style>
      section {
        border-radius: 10px;
        background: #dedbce;
        box-shadow:
          inset 8px 8px 14px #bfbcb1,
          inset -8px -8px 14px #fdfaeb;
      }
      span {
        border-radius: 63px;
        background: #dedbce;
        box-shadow:
          8px 8px 14px #ccc9be,
          -8px -8px 14px #f0edde;
      }
    </style>
  </head>

  <body class="flex h-full flex-col bg-[hsl(49deg,_20%,_84%)]">
    <div
      class="mt-12 px-3 lg:grid lg:h-screen lg:place-items-center lg:px-0 lg:pb-0"
    >
      <main class="space-y-8 lg:w-8/12 lg:max-w-screen-lg lg:space-y-24">
        {# error status code & error message #}
        <section class="relative space-y-6 px-12 py-16 text-center">
          <span
            class="absolute right-3 top-3 px-3 py-1 text-sm font-semibold text-slate-600"
          >
            {{ status_code }}
          </span>
          <h1 class="mt-2 text-4xl text-slate-600 md:mt-0">
            It looks like you're lost friend
          </h1>
          <p class="text-lg text-slate-600">{{ message }}</p>
        </section>

        <section class="space-y-12 px-12 py-16">
          <div class="flex items-center justify-center gap-x-2">
            <h2 class="text-center text-xl text-slate-600">
              Continue your journey
            </h2>
            <img
              aria-hidden="true"
              src="{% static 'icons/refresh.svg' %}"
              alt="refresh icon"
              width="18"
              height="18"
            />
          </div>
          {# Navigation home / contact page #}
          <nav class="space-y-12 text-slate-600">
            {# home page link #}
            <a
              href="{% url 'home' %}"
              class="group flex items-center gap-x-4"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true"
                role="img"
                class="h-6 w-6 text-slate-600 transition-colors duration-300 ease-in-out group-hover:text-slate-700"
                width="1em"
                height="1em"
                viewBox="0 0 24 24"
              >
                <path
                  fill="currentColor"
                  d="M4 14.85V11q0-.2.075-.375T4.3 10.3l7-7q.15-.15.325-.225Q11.8 3 12 3t.375.075q.175.075.325.225l1.425 1.4ZM17 20v-8.175L13.075 7.9L15.2 5.775l4.5 4.525q.125.15.213.325Q20 10.8 20 11v8q0 .425-.288.712Q19.425 20 19 20ZM5 20q-.425 0-.713-.288Q4 19.425 4 19v-2.05l3-3V17h8.5v3Z"
                ></path>
              </svg>

              <div>
                <h3
                  class="max-w-min border-b border-b-transparent text-lg font-medium text-slate-600 transition-all duration-300 ease-in-out group-hover:border-slate-600"
                >
                  Home
                </h3>
                <p class="text-slate-600">Everything starts here</p>
              </div>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true"
                role="img"
                class="ml-auto text-slate-600 transition-all duration-300 ease-in-out group-hover:h-7 group-hover:w-7 group-hover:text-slate-700"
                width="1em"
                height="1em"
                viewBox="0 0 24 24"
              >
                <path
                  fill="currentColor"
                  d="M8.025 22L6.25 20.225L14.475 12L6.25 3.775L8.025 2l10 10l-10 10Z"
                ></path>
              </svg>
            </a>
            {# contact page link #}
            <a
              href="{% url 'customer_support:contact' %}"
              class="group flex items-center gap-x-4"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true"
                role="img"
                class="h-6 w-6 text-slate-600 transition-colors duration-300 ease-in-out group-hover:text-slate-700"
                width="1em"
                height="1em"
                viewBox="0 0 24 24"
              >
                <path
                  fill="currentColor"
                  d="M12 22q-2.05 0-3.875-.788t-3.188-2.15q-1.362-1.362-2.15-3.187T2 12q0-2.075.788-3.888t2.15-3.174Q6.3 3.575 8.124 2.788T12 2q2.075 0 3.888.788t3.174 2.15q1.363 1.362 2.15 3.175T22 12v1.45q0 1.475-1.012 2.513T18.5 17q-.9 0-1.675-.4t-1.275-1.05q-.675.675-1.588 1.063T12 17q-2.075 0-3.538-1.463T7 12q0-2.075 1.463-3.538T12 7q2.075 0 3.538 1.463T17 12v1.45q0 .725.45 1.137T18.5 15q.6 0 1.05-.413T20 13.45V12q0-3.275-2.363-5.638T12 4Q8.725 4 6.362 6.363T4 12q0 3.275 2.363 5.638T12 20h5v2h-5Zm0-7q1.25 0 2.125-.875T15 12q0-1.25-.875-2.125T12 9q-1.25 0-2.125.875T9 12q0 1.25.875 2.125T12 15Z"
                ></path>
              </svg>

              <div>
                <h3
                  class="max-w-min border-b border-b-transparent text-lg font-medium text-slate-600 transition-all duration-300 ease-in-out group-hover:border-slate-600"
                >
                  Contact
                </h3>
                <p class="text-slate-600">Contact us for more information</p>
              </div>

              <svg
                xmlns='http://www.w3.org/2000/svg'
                aria-hidden='true'
                role='img'
                class='ml-auto text-slate-600 transition-all duration-300 ease-in-out group-hover:h-7 group-hover:w-7 group-hover:text-slate-700'
                width='1em'
                height='1em'
                viewBox='0 0 24 24'
              >
                <path
                  fill="currentColor"
                  d="M8.025 22L6.25 20.225L14.475 12L6.25 3.775L8.025 2l10 10l-10 10Z"
                ></path>
              </svg>
            </a>
          </nav>
        </section>
      </main>
    </div>
  </body>
</html>
