{% load static %}
<nav
  aria-label='Main mobile nav'
  aria-hidden="true"
  id="navbar-menu"
  class="absolute left-0 top-0 z-50 h-screen w-[min(400px,_80%)] space-y-8 border-r bg-white px-6 pt-4 transition-opacity duration-300"
>
  <div class="flex">
    <button
      aria-controls="navbar-menu"
      aria-expanded="false"
      type="button"
      aria-label='close mobile menu'
    >
      <img
        aria-hidden='true'
        src="{% static 'icons/close.svg' %}"
        alt="close icon"
        width="26"
        height="26"
      />
    </button>

    <a
      href="{% url 'home' %}"
      class="flex grow justify-center gap-x-2"
      aria-label='Go to home'
    >
      <img
        src="{% static 'icons/elite-fitness-icon.svg' %}"
        alt="Elite Fitness icon "
        height='26'
        width='26'
        aria-hidden='true'
      />
      <span aria-hidden='true' class="text-lg">Elite</span>
    </a>
  </div>
  {# Navigation links #}
  <ul class="space-y-3 divide-y [&_li]:pt-3">
    <li class="text-lg font-semibold">Shop by range</li>
    <li><a href="{% url 'products' %}?category=supplements">Vitamins & Supplements</a></li>
    <li><a href="{% url 'products' %}?category=juicers-extractors">Juicers & Blenders</a></li>
    <li><a href="{% url 'products' %}?category=gym-equipment">Fitness & Exercise equipment</a></li>
  </ul>
  <ul class="space-y-3 text-lg">
    <li><a href="{% url 'customer_support:contact' %}">Contact</a></li>
    <li><a href="{% url 'customer_support:shipping-and-information' %}">Shipping & Delivery</a></li>
    <li><a href="{% url 'customer_support:shipping-and-information' %}">Returns</a></li>
  </ul>
  {# Social media links #} {% include 'partials/social_media_block.html' %}
  {# Sign in/out links #}
  {% if user.is_authenticated %}
  <a
    class="block rounded bg-slate-700 px-4 py-2 text-center text-sm text-white lg:hidden "
    href="{% url 'logout' %}"
  >Sign out</a
  >
  {% endif %}
</nav>
