{% load static %}
<div class="sticky bottom-0 z-40 bg-slate-700 lg:hidden">
  <div class="pb-4 pt-6">
    <ul class="flex justify-around">
      <li>
        <a
          href="{% url 'home' %}"
          aria-label="Go to home"
          ><img
            aria-hidden="true"
            src="{% static 'icons/home.svg' %}"
            alt="home icon"
            height="24"
            width="24"
        /></a>
      </li>
      <li>
        <a
          href="{% url 'products' %}"
          aria-label="Go to all products"
          ><img
            aria-hidden="true"
            src="{% static 'icons/product-search.svg' %}"
            alt="product search icon"
            height="24"
            width="24"
        /></a>
      </li>
      <li>
        <a
          href="{% url 'profile' %}"
          aria-label="Go to profile page"
          ><img
            aria-hidden="true"
            src="{% static 'icons/account.svg' %}"
            alt="account icon"
            height="24"
            width="24"
        /></a>
      </li>
      {% if cart_total_quantity > 0 %}
      <li class="relative">
        <a
          href="{% url 'cart' %}"
          aria-label="Go to cart"
          ><img
            aria-hidden="true"
            src="{% static 'icons/cart.svg' %}"
            alt="cart icon"
            height="24"
            width="24"
          />
          <span
            aria-label="Cart items count"
            class="absolute -right-3 -top-3 inline-block rounded-full bg-slate-300 p-0.5 px-1.5 text-xs"
            >{{ cart_total_quantity }}</span
          ></a
        >
      </li>
      {% endif %} {% if user.is_authenticated %}
      <li>
        <a
          href="{% url 'wishlist' %}"
          aria-label="Go to wishlists"
          ><img
            src="{% static 'icons/wishlist.svg' %}"
            aria-hidden="true"
            alt="account icon"
            height="24"
            width="24"
        /></a>
      </li>
      {% endif %}
    </ul>
  </div>
</div>
