<form
  id="login-form"
  method="post"

>
  {% csrf_token %} {{ form.as_div }}
  <a class="underline text-gray-600 hover:text-gray-900"
    href="{% url 'password_reset' %}">Forgot password?</a>

  <button
    class="mb-4 mt-4 rounded bg-slate-500 py-2 text-white"
    type="submit"
  >
    Login
  </button>

  <hr />
  <p class="text-center">Don't have an account?</p>
  <a
    class="mt-4 rounded border border-slate-500 py-2 text-center"
    href="{% url 'account_signup' %}"
    >Create account</a
  >
</form>
