{% extends 'base.html' %} {% load django_vite %} {% load static %}
<!-- prettier-ignore -->
{% block extra_tite %} My wishlists {% endblock %}

{% block extra_js %}
  {% vite_asset 'js/wishlist.js' %}
{% endblock %}

{% block content %}

<div class="container mx-auto mt-12 space-y-12 px-4">
  <h1 class="text-center text-2xl">My Wishlists</h1>
  <div class="flex justify-between">
    <a
      class="flex items-center gap-x-1 text-sm underline underline-offset-2"
      href="{% url 'profile' %}"
    >
      <img
        aria-hidden="true"
        src="{% static 'icons/arrow-back.svg' %}"
        alt="home icon"
        width="12"
        height="12"
      />
      Profile</a
    >
    <button
      id="create-list"
      data-open-dialog
      class="rounded bg-slate-700 px-4 py-2 text-center text-sm text-white"
    >
      Add a new list
    </button>
  </div>
  <hr />

  <main class="container mx-auto mt-16 px-4">
    {# Pagination #} {% if is_paginated %}
    <div class="rounded-md px-8 py-6 shadow">
      <div class="flex items-center gap-x-4">
        {% if page_obj.has_previous %}
        <a
          class="block"
          href="?page={{ page_obj.previous_page_number }}"
          >Previous</a
        >
        {% endif %} {# Pagination pages by number #}
        <div class="flex items-baseline gap-x-3">
          {% for i in paginator.page_range %} {% if page_obj.number == i %}
          <div class="rounded-md bg-slate-700 px-3 py-2 text-white">
            <a
              class="block"
              href="?page={{ i }}"
              >{{ i }}</a
            >
          </div>
          {% else %}
          <div>
            <a
              class="block"
              href="?page={{ i }}"
              >{{ i }}</a
            >
          </div>
          {% endif %} {% endfor %}
        </div>

        {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Next</a>
        {% endif %}
      </div>
      {% endif %}

      <!-- Display wishlists -->
      <section class="mt-12 space-y-8">
        {% if wishlists %}
        <h2>Your Wishlists:</h2>

        {% for wishlist in wishlists %}
        <div class="space-y-4 rounded-md border p-8">
          <div class="flex justify-between">
            <h3 class="text-lg font-semibold">{{ wishlist.name }}</h3>
            <div>
              <button
                data-open-dialog
                id="edit-list"
                class="rounded bg-slate-700 px-4 py-2 text-center text-sm text-white"
                data-list-id="{{ wishlist.id }}"
              >
                Edit list
              </button>
              {# delete from #}
              <form
                action="{% url 'wishlist_delete' wishlist.id %}"
                method="POST"
                class="inline"
              >
                {% csrf_token %}
                <button
                  type="submit"
                  class="rounded bg-red-600 px-4 py-2 text-center text-sm text-white"
                >
                  Delete list
                </button>
              </form>
            </div>
          </div>
          {# Wishlist products, image, price #} {% if wishlist.products.count %}
          <ul
            data-list-id="{{ wishlist.id }}"
            class="grid grid-flow-col justify-start gap-x-8 overflow-x-auto py-4"
          >
            {% for item in wishlist.get_all_products %}
            <li class="h-full w-64 space-y-4 rounded-md pb-4 shadow">
              <div class="flex h-full flex-col space-y-3">
                {% if item.images.all.0 %}
                <img
                  src="{{ item.images.all.0.image.url }}"
                  width="225"
                  height="225"
                  alt="{{ item.name }}"
                  class="h-full w-full rounded-t-md object-cover"
                />
                {% else %}
                <img
                  src="{{ MEDIA_URL }}products/placeholder.svg"
                  width="225"
                  height="225"
                  alt="{{ item.name }}"
                  class="h-full w-full rounded-t-md object-cover"
                />
                {% endif %}
                <div class="space-y-6 px-4">
                  <div class="space-y-3 text-sm">
                    <h3>Product Name: {{ item.name }}</h3>
                    <p>€{{ item.price }}</p>
                  </div>
                  <div class="space-y-2">
                    {# add wishlist product to cart #}
                    <form
                      action="{% url 'add_to_cart' item.id %}"
                      method="post"
                    >
                      {% csrf_token %}
                      <button
                        class="w-full rounded bg-slate-700 px-4 py-2 text-center text-sm text-white"
                        type="submit"
                      >
                        Add to cart
                      </button>
                      <input
                        type="hidden"
                        name="redirect_url"
                        value="{{ request.path }}"
                      />
                    </form>
                    {# remove product from wishlist #}
                    <form
                      method="post"
                      action="{% url 'wishlist_product_remove' list_id=wishlist.id product_id=item.id %}"
                    >
                      {% csrf_token %}
                      <input
                        class="w-full cursor-pointer rounded bg-red-600 px-4 py-2 text-center text-sm text-white"
                        type="submit"
                        value="Remove"
                      />
                    </form>
                  </div>
                </div>
              </div>
            </li>
            {% endfor %}
          </ul>

          {% else %}
          <p>No products added.</p>
          {% endif %}
        </div>

        {% endfor %} {% else %}
        <p>You have no wishlists.</p>
        {% endif %}
      </section>
    </div>
  </main>
</div>
{# create wishlist dialog #}
<dialog
  id="create-list"
  class="space-y-8 rounded-md bg-white p-10 shadow"
>
  <div class="flex w-[min(90vw,_500px)] justify-between">
    <h2 class="text-lg font-medium">Create a new list</h2>
    <button
      data-close-dialog
      type="button"
    >
      <img
        src="{% static 'icons/close.svg' %}"
        alt=""
      />
    </button>
  </div>
  {% include 'partials/forms/wishlist_create_form.html' %}
</dialog>

{# edit wishlist dialog#}
<dialog
  id="edit-list"
  class="space-y-8 rounded-md bg-white p-10 shadow"
>
  <div class="flex w-[min(90vw,_500px)] justify-between">
    <h2 class="text-lg font-medium">Edit List</h2>
    <button
      data-close-dialog
      type="button"
    >
      <img
        src="{% static 'icons/close.svg' %}"
        alt=""
      />
    </button>
  </div>
  {% include 'partials/forms/wishlist_update_form.html' %}
</dialog>

{% endblock %}
