{% extends "base.html" %} {% load static %}
<!-- prettier-ignore -->
{% block extra_js %}
  {{ stripe_public_key|json_script:'stripe_public_key' }}
  {{ client_secret|json_script:'client_secret' }}
  {% load django_vite %}
  {% vite_asset 'js/stripe.js' %}
{% endblock %}

{% block extra_tite %}Checkout{% endblock %}

{% block content %}

<div class="container mx-auto mt-12 space-y-12 px-4">
  <h1 class="text-center text-2xl">Checkout</h1>
  <a
    href="{% url 'cart' %}"
    class="flex items-center gap-x-1 text-sm underline underline-offset-2"
  >
    <img
      aria-hidden="true"
      src="{% static 'icons/arrow-back.svg' %}"
      alt="home icon"
      width="12"
      height="12"
    />
    Back to cart</a
  >
  <hr />

  <main>
    <section class="grid gap-y-20 md:grid-cols-2 md:gap-x-20">
      <div class="w-full">
        <h2 class="text-left">
          Please fill out the form below to complete your order
        </h2>
        {% include 'partials/forms/checkout_form.html' %}
      </div>
      <section class="space-y-6 md:mt-24">
        <h3>Order summary ({{ cart_total_quantity }})</h3>
        {% for item in cart_items %}
        <div class="grid grid-cols-2 border-y py-2">
          <div>
            <a href="{% url 'product_detail' item.product.slug %}">
              <img
                width="100"
                height="100"
                src="{{ item.image }}"
                alt="{{ product.name }}"
              />
            </a>
          </div>

          <div>
            <p class="my-0"><strong>{{ item.product.name }}</strong></p>
            <p class="small text-muted my-0">Qty: {{ item.quantity }}</p>
            <p class="small text-muted my-0">€{{ item.price }}</p>
          </div>
        </div>

        {% endfor %}
        <div class="grid justify-end">
          <p>Order Total: € {{ subtotal }}</p>
          <p>Delivery: € {{ delivery_cost }}</p>
          <p class="font-semibold">Grand Total: € {{ grand_total }}</p>
        </div>
      </section>
    </section>
  </main>
</div>
{% include 'partials/dialogs/dialog_process_order.html' %} {% endblock %}
