{% extends 'base_support.html' %}

<!-- Meta data -->
{% block extra_meta %}
  <meta
    name="description"
    content="Elite Fitness is the go-to online destination for health enthusiasts and fitness gurus alike.
    We’re committed to helping you achieve your best self and take pleasure in facilitating your fitness journey."
  />
{% endblock %}

{% block content %}
  <section class='container lg:max-w-4xl mx-auto mt-12 py-12 px-4'>
    <main class='space-y-6'>
      <h2 class='text-2xl'>About Elite Fitness</h2>
      <p>
        Welcome to Elite Fitness, the go-to online destination for health enthusiasts and fitness gurus alike. We’re committed to helping you achieve your best self and take pleasure in facilitating your fitness journey.
        At Elite Fitness, we offer an extensive range of quality juicers, gym equipment, and natural supplements — everything you need to build an effective health routine. Whether you're a beginner or a seasoned athlete, we’re here to support your goals with our high-performing products.
        <br><br>
        Our foundational belief is that fitness isn't a destination, but a way of life. This is why we emphasize empowering you to lead a healthier lifestyle through functional exercises and amplifying your nutrient intake. Our products not only meet the highest standards of quality but are also designed to connect seamlessly with your active lifestyle.
        Start your journey with Elite Fitness today, and discover the remarkable difference fitness can make in your life. Join us as we sweat, strive, and sustainably succeed, one step at a time.
      </p>
    </main>

  </section>
{% endblock %}